/* css reset */
html,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Fonts aanroepen */
@font-face {
    font-family:bakers;
    src: url(./Assets/lettertypes/BaskervilleBT.ttf);
    /* bakers is voor cijfers en accenten */
}

@font-face {
    font-family:helvetica;
    src: url(./Assets/lettertypes/HelveticaNeue.otf);
    /* helvetica is voor alineas */
}  

@font-face {
    font-family:poppins;
    src: url(./Assets/lettertypes/Poppins-Regular.ttf);
    /* poppins voor titels */
}

/* fonts gebruiken */
h1, h2 ,h3, h4, h5, h6 {
    font-family: poppins;
}

p{
    font-family: helvetica;
}

/* flexbox maken */
.flex-container {
    display: flex;
    flex-direction: column;
}



/* testing */
body {
    background-color: white;
}


/* Navigation opmaak */
nav {
    background-color: rgb(171, 219, 69);
}

nav a{
    text-decoration: none;
    font-family: poppins;
    padding: 1em;
    color: black;
}

ul{
    overflow: hidden;
    list-style-type: none;
}

li {
    float: left;
}

li a{
    display: block;
    text-align: center;
}

/* img, .logo {
    max-width: 2em;
    padding: 0;
    margin: 0;
} */






/* article opmaak */
article {
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;

    margin-left: 2em;
    margin-right: 2em;
    margin-top: 1em;
    margin-bottom: 1em;

    background-color: rgb(241, 234, 226);
    border-radius: 5%;
    /* flex-direction:column; */
    /* align-items: center; */
    /* justify-content: flex-end; */
    /* background-color: beige; */
}

article img {
    max-width: 100%;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}




/* background image */
#background {
    background-image: url("./Assets/images/park.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: rgb(241, 234, 226);
    height: 500px;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
}

#background2{
    background-image: url("./Assets/images/mapfilled.png");
    background-size:contain;
    background-repeat: no-repeat;
    background-color: rgb(241, 234, 226);
    height: 500px;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;

}


img {
    max-width: 600px;
}

.ig {
    height: 200px;
    width: 200px;
}

footer {
    background-color: rgb(171, 219, 69);
}


/* div:hover img{
    background-color: rgb(63, 172, 4);
    animation-name: scroll;
} */

.animation{
    background-color: blue;
    animation-name: scroll;
}


@keyframes scroll {
    from {background-color: blueviolet;}
    to {background-color: aquamarine;}
}

/* border-bottom-left-radius: 5%;
border-bottom-right-radius: 5%; */






/* color list */
/* 
beige: rgb(241, 234, 226)
paars rgb(113, 112, 228)
Geel: rgb(248, 218, 93)
bruin:: rgb(120, 85, 77)
groen: rgb(171, 219, 69)
*/